# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
DerivedData/
build/
*.ipa

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# User-specific
*.DS_Store
